<<<<<<< HEAD
@font-face {
    font-family: 'ostrich_sansbold';
    src: url('ostrichsans-bold-webfont.woff2') format('woff2'),
         url('ostrichsans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'ostrich_sansbold', Optima, sans-serif;
	color: pink;
	padding: 20px;
=======
}

.top-nav {
	background-color: goldenrod;
	height: 45px;
}

.top-nav li{
	list-style-type: none;
	font-family: "Arial"; 
	padding: 0 9px;
	float: left;
	margin: 10px 15px 0 15px;
	cursor: pointer;
}

body{
	background-color: pink;
>>>>>>> 19e06e364c2c50a2a3772097d3f2ebf96be35c99
}

.top-nav {
	background-color: #FFFF82;
	opacity: 0.7;
	height: 45px;
}

.top-nav li {
    list-style-type: none;
    padding: 5px;
    display: inline-block;
    font-family: 'ostrich_sansbold', Optima, sans-serif;
    font-style: black;
    font-size: 20px;
    float: right;
    margin: 5px;
   }

.top-nav li a {
    text-decoration: none;
    border: 30px solid #82FFD5;
    padding: 10px;
    opacity: 0.7;
    border-radius: 40px;
    -moz-border-radius: 500px;
    -webkit-border-radius: 500px;
    }

.title {
	background-color: #FF00AA;
	text-align: center;
	height: 30px;
	width: 100px;
	line-height: 1.8em;
	margin: 10px auto 10px auto;
	opacity: 0.7;
	-moz-box-shadow: -5px -5px #777777;
	-webkit-box-shadow: -5px -5px #777777;
	box-shadow: -5px -5px #777777;
	border-radius: 10px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}

.images {
	background-color: #FF14BE;
	text-align: center;
	height: 30px;
	width: 100px;
	line-height: 1.8em;
	margin: 10px auto 10px auto;
	opacity: 0.7;
	-moz-box-shadow: -5px -5px #777777;
	-webkit-box-shadow: -5px -5px #777777;
	box-shadow: -5px -5px #777777;
	border-radius: 10px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}

.text1 {
	background-color: #FF32DC;
	text-align: center;
	height: 30px;
	width: 100px;
	line-height: 1.8em;
	margin: 10px auto 10px auto;
	opacity: 0.7;
	-moz-box-shadow: -5px -5px #777777;
	-webkit-box-shadow: -5px -5px #777777;
	box-shadow: -5px -5px #777777;
	border-radius: 10px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}

.text2 {
	background-color: #FF6EFF;
	text-align: center;
	height: 30px;
	width: 100px;
	line-height: 1.8em;
	margin: 10px auto 10px auto;
	opacity: 0.7;
	-moz-box-shadow: -5px -5px #777777;
	-webkit-box-shadow: -5px -5px #777777;
	box-shadow: -5px -5px #777777;
	border-radius: 10px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}

.footer {
	background-color: #FF82FF;
	text-align: center;
	height: 30px;
	width: 100px;
	line-height: 1.8em;
	margin: 10px auto 10px auto;
	opacity: 0.7;
	-moz-box-shadow: -5px -5px #777777;
	-webkit-box-shadow: -5px -5px #777777;
	box-shadow: -5px -5px #777777;
	border-radius: 10px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}